<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4>Panel de Asistencia</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <a href="@Url.Action("RegistrarAsistencia", "Asistencia")" class="btn btn-primary btn-block">Registrar Asistencia</a>
                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("Index", "Asistencia")" class="btn btn-secondary btn-block">Ver Registro de Asistencias</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <a href="@Url.Action("FiltrarPorFecha", "Asistencia")" class="btn btn-dark btn-block">Filtrar Asistencia por Fecha</a>
                </div>
            </div>
        </div>
    </div>
</div>
