name: "SonarCloud Analysis for .NET"

on:
  push:
    branches:
      - main  
  pull_request:
    branches:
      - main

jobs:
  sonarcloud:
    runs-on: windows-latest  

    steps:
      
      - name: Check out code
        uses: actions/checkout@v3

      
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.x  

 
      - name: Restore, Test, and Analyze with SonarCloud
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}  # Configura este secreto en tu repositorio
        run: |
          cd ProyectoAsistencia
          dotnet restore
          cd ProyectoAsistencia.Tests
          dotnet test --collect:"XPlat Code Coverage"
          dotnet tool install --global dotnet-sonarscanner
          dotnet sonarscanner begin /k:"alvarocontreras13_calidadproyecto" /o:"alvarocontreras13" /d:sonar.cs.opencover.reportsPaths="TestResults/*/coverage.cobertura.xml" /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
          dotnet build
          dotnet sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"

