@model List<ProyectoAsistencia.Models.Empleado>

<h2>Empleados Registrados</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de Usuario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empleado in Model)
        {
            <tr>
                <td>@empleado.Id</td>
                <td>@empleado.NombreUsuario</td>
            </tr>
        }
    </tbody>
</table>
